.login {
    background-color: #dff0d8;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}
.logout {
    background-color: #d9edf7;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}
.navbar {
    border-bottom: 0.5px solid #CCC;
}
footer {
    padding-top:20px;
}