{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/apps.js"></script>

<script>

    // JavaScript Form Validation
    // Run code after page load
    $(document).ready(function() {
        
        // Validate the form
        $('#formPassword').validate({
            // Add validation rules
            rules :{
                password:{
                    required:true,
                    minlength:6,
                    validPassword:true//custom method
                }
            }//close rules 
        });
        // Show Password Toggle Button
        $('#inputPassword').hideShowPassword({
                show:false,
                innerToggle:'focus'
        });
    });
</script>

{% endblock %}

{% block body %}

    <h1>Reset Password</h1>

    {% if user.errors is not empty %}
    <p>Errors:</p>
    <ul>
        {% for error in user.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" id="formPassword" action="/password/password-reset">
        <!-- Reset Token -->
        <input type="hidden" name="token" value="{{ token }}">

        <div>
            <label for="inputPassword">Password: </label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" required />
        </div>
        
        <button type="submit">Set New Password</button>
    </form>
{% endblock %}