{% extends 'base.html' %}

{% block title %}Enter a New Goal{% endblock %}

{% block body %}

<h1>New Goal</h1>

<!-- If someone is logged in and they have goals, then display them -->
{% if current_user %}

    <form id="newGoal">
        <div class="form-group">
            <label for="goalTitle">Title</label>
            <input name="goalTitle" class="form-control" id="goalTitle" type="text">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
{% else %}
    <p>
        Hey, you'll need to <a href="/login">login</a> before you can view this page!
    </p>
{% endif %}

{% endblock %}